In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store csv created in part one into a DataFrame
file1 = pd.read_csv("output_data/cities.csv")
file1

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed
0,0,saldanha,0,PT,1570626065,39,41.42,-6.55,67.73,2.57
1,1,mys shmidta,100,RU,1570626065,80,62.06,48.62,35.15,7.90
2,2,katsuura,20,JP,1570626065,63,33.93,134.50,62.60,5.82
3,3,alugan,100,PH,1570626066,90,12.22,125.48,77.63,3.00
4,4,ushuaia,40,AR,1570626066,87,-54.81,-68.31,37.40,28.86
5,5,albany,75,US,1570626066,87,42.65,-73.75,52.00,3.36
6,6,vaini,75,IN,1570626067,88,15.34,74.49,75.20,5.03
7,7,hermanus,58,ZA,1570626067,83,-34.42,19.24,63.00,3.00
8,8,bayangol,85,MN,1570626067,63,48.91,106.09,34.79,6.42
9,9,nanortalik,100,GL,1570626068,77,60.14,-45.24,40.91,7.29
10,10,busselton,100,AU,1570626068,63,-33.64,115.35,63.00,7.73
11,11,kapaa,75,US,1570626068,94,22.08,-159.32,75.20,9.17
12,12,tuktoyaktuk,94,CA,1570626068,72,69.44,-133.03,32.09,5.93
13,13,mar del plata,68,CN,1570626069,42,29.86,90.73,38.21,6.10
14,14,dudinka,9,RU,1570626069,73,69.41,86.18,19.40,6.71
15,15,rawdon,40,CA,1570626069,93,46.05,-73.71,48.00,2.24
16,16,cape town,75,CL,1570626070,93,-36.41,-71.90,55.00,11.41
17,17,guerrero negro,0,AR,1570626070,56,-24.19,-65.45,71.60,5.21
18,18,keti bandar,20,AM,1570626070,25,40.87,43.84,73.40,10.29
19,19,naze,75,NG,1570626070,70,5.43,7.07,86.00,4.70
20,20,avarua,100,CK,1570626019,64,-21.21,-159.78,71.60,6.93
21,21,noshiro,20,JP,1570626071,87,40.21,140.05,51.80,3.36
22,22,barrow,44,AR,1570626071,44,-38.31,-60.23,57.83,17.47
23,23,shimoda,20,JP,1570626071,63,34.70,138.93,66.20,3.36
24,24,tongliao,0,CN,1570626072,29,43.61,122.27,61.79,15.23
25,25,grand gaube,99,FR,1570626072,82,48.39,5.49,59.00,17.22
26,26,udachnyy,90,RU,1570626072,92,66.42,112.40,15.80,8.95
27,27,davidson,100,CA,1570626073,87,51.26,-105.98,27.00,5.01
28,28,biltine,9,TD,1570626073,30,14.53,20.93,92.57,6.94
29,29,airai,100,TL,1570626073,89,-8.93,125.41,63.23,4.07
...,...,...,...,...,...,...,...,...,...,...
478,478,menongue,75,AO,1570626191,15,-14.66,17.68,98.33,4.70
479,479,tamandare,85,BR,1570626191,94,-8.28,-70.75,72.59,1.95
480,480,kholmogory,90,RU,1570626191,93,64.23,41.65,35.60,6.71
481,481,centralia,1,US,1570626192,87,39.21,-92.14,51.01,5.82
482,482,angoche,21,MZ,1570626192,40,-16.23,39.91,92.75,14.50
483,483,san jose,13,ML,1570626192,34,13.30,-4.90,95.63,13.15
484,484,hovd,0,NO,1570626192,50,63.83,10.70,52.00,21.92
485,485,cidreira,0,BR,1570626193,85,-30.17,-50.22,66.29,7.52
486,486,stepnyak,98,KZ,1570626193,51,52.83,70.79,60.71,7.20
487,487,nalut,13,LY,1570626193,49,31.86,10.98,72.41,12.55
488,488,springbok,44,ZA,1570626193,42,-29.67,17.88,67.91,28.41
489,489,beirut,75,LB,1570626193,58,33.90,35.48,84.20,12.75
490,490,copiapo,90,CL,1570626194,81,-27.37,-70.33,53.60,8.05
491,491,vernon,1,CA,1570626194,68,50.27,-119.27,30.99,6.93
492,492,lar,0,IR,1570626194,36,27.66,54.32,95.00,8.68
493,493,hualmay,54,PE,1570626195,89,-11.10,-77.61,59.45,13.51
494,494,xacmaz,100,AZ,1570626195,70,41.46,48.81,64.31,24.79
495,495,lasa,20,CY,1570626195,61,34.92,32.53,82.40,20.80
496,496,ust-kuyga,0,RU,1570626195,91,70.00,135.55,1.49,4.99
497,497,leh,98,IN,1570626196,29,34.16,77.58,37.49,5.97
498,498,tombouctou,6,ML,1570626196,8,16.77,-3.01,102.11,2.55
499,499,korsakov,40,RU,1570626196,87,46.63,142.78,44.60,6.71
500,500,marienburg,20,DE,1570626197,67,52.12,9.98,62.01,10.29
501,501,morondava,2,MG,1570626197,36,-20.30,44.28,92.57,12.01
502,502,miyako,20,JP,1570626197,68,33.63,130.94,69.01,4.70
503,503,birao,99,CF,1570626197,81,10.30,22.78,75.29,2.80
504,504,fremont,1,US,1570626197,76,37.55,-121.99,66.20,3.36
505,505,bowen,0,AU,1570626198,88,-20.01,148.25,73.40,1.12
506,506,gigmoto,100,PH,1570626198,80,13.78,124.39,82.67,14.90
507,507,cotonou,40,BJ,1570626198,88,6.37,2.43,80.60,11.41

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
target_url = ('https://maps.googleapis.com/maps/api/geocode/json?')

In [6]:
# Heatmap of humidity

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Narrow down cities that fit criteria and drop any results with null values

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,rikitea,-23.12,-134.97,71.01,67,0,4.90,PF,1569425987
31,31,barrow,-38.31,-60.23,71.55,40,0,6.35,AR,1569426234
88,88,niteroi,-29.95,-51.16,79.00,53,0,3.36,BR,1569426245
160,160,shache,38.42,77.24,75.00,51,0,7.65,CN,1569426258
303,303,namibe,-15.19,12.15,70.47,88,0,9.48,AO,1569426288

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates

        City Country    Lat     Lng Hotel Name
1    rikitea      PF -23.12 -134.97
31    barrow      AR -38.31  -60.23
88   niteroi      BR -29.95  -51.16
160   shache      CN  38.42   77.24
303   namibe      AO -15.19   12.15

In [9]:
# Set parameters to search for a hotel


# Iterate through

Missing field/result... skipping.
Missing field/result... skipping.

        City Country    Lat     Lng            Hotel Name
1    rikitea      PF -23.12 -134.97        Pension Maro'i
31    barrow      AR -38.31  -60.23
88   niteroi      BR -29.95  -51.16  Hotel Express Canoas
160   shache      CN  38.42   77.24          Delong Hotel
303   namibe      AO -15.19   12.15      Chik-Chik Namibe

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map


# Display figure

Figure(layout=FigureLayout(height='420px'))